form {
  margin: 100px auto 0;
  width: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  text-align: center;
}

p.error {
  color: #c00;
  margin-bottom: 10px;
  text-shadow: 1px 1px rgba(0,0,0,.1);
}
p.success {
  color: #83BD41;
  margin-bottom: 10px;
  text-shadow: 1px 1px rgba(0,0,0,.1);
}